<h3>Lista książek</h3>
<a ng-if="user.type == 'admin'" href="#/add_book"><button ng-click="clearBook()" class="btn btn-success">Dodaj książkę</button></a>
<br /><br />
<label>Wyszukaj książkę</label>
<input type="text" ng-model="search.title" class="form-control">
<br /><br />
<table class="table">
  <thead>
    <th ng-click="sortBy('id')" class="right pointer inl">
      <span style="font-size: 80%">ID<span class="sortorder" ng-show="propertyName === 'id'" ng-class="{reverse: reverse}"></span></span>
    </th>
    <th ng-click="sortBy('title')" class="right pointer inl">
      <span style="font-size: 80%">Tytuł<span class="sortorder" ng-show="propertyName === 'title'" ng-class="{reverse: reverse}"></span></span>
    </th>
    <th ng-click="sortBy('quantity')" class="right pointer inl">
      <span style="font-size: 80%">Ilość<span class="sortorder" ng-show="propertyName === 'quantity'" ng-class="{reverse: reverse}"></span></span>
    </th>
    <th ng-click="sortBy('quantity - leftCopies')" class="right pointer inl">
      <span style="font-size: 80%">Wypożyczone<span class="sortorder" ng-show="propertyName === 'quantity - leftCopies'" ng-class="{reverse: reverse}"></span></span>
    
    </th>
    <th ng-click="sortBy('author.name')" class="right pointer inl">
      <span style="font-size: 80%">Autor<span class="sortorder" ng-show="propertyName === 'author.name'" ng-class="{reverse: reverse}"></span></span>
    </th>
    <th ng-if="user.id">Wypożycz</th>
    <th ng-if="user.type == 'admin'">Edytuj</th>
    <th ng-if="user.type == 'admin'">Usuń</th>
  </thead>
  <tbody>
    <tr ng-repeat="x in books | orderBy:propertyName:reverse | filter:search:filterMyData">
      <td>{{x.id}}</td>
      <td>{{x.title}}</td>
      <td>{{x.quantity}}</td>
      <td>{{x.quantity - x.leftCopies}}</td>
      <td>{{x.author.name}}</td>
      <td ng-if="user.id && x.leftCopies != 0"><button ng-click="addLease(x)" class="btn btn-primary">Wypożycz</button></td>
      <td ng-if="user.type == 'admin'"><button ng-click="gotoEdit_book(x)" class="btn">Edytuj</button></td>
      <td ng-if="user.type == 'admin'"><button ng-click="deleteBook(x)" class="btn btn-danger">Usuń</button></td>
    </tr>
  </tbody>
</table>