<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Logowanie</h1>
  <label for="inputEmail" class="sr-only">Login</label>
  <input type="text" ng-model="login.login" class="form-control" placeholder="Login" required autofocus>
  <label for="inputPassword" class="sr-only">Haslo</label>
  <input type="password" ng-model="login.password" class="form-control" placeholder="Haslo" required>
  <button class="btn btn-lg btn-primary btn-block" ng-click="login_user()" type="button">Zaloguj</button>
</form>
