<form class="form-signin">
  <h1 class="h3 mb-3 font-weight-normal">Rejestracja</h1>
  <label>Login</label>
  <input type="text" ng-model="register.login" class="form-control" placeholder="Login">
  <label>Haslo</label>
  <input type="password" ng-model="register.password" class="form-control" placeholder="Haslo">
  <label>Imie i nazwisko</label>
  <input type="text" ng-model="register.name" class="form-control" placeholder="Imie i nazwisko">
  <br />
  <button class="btn btn-lg btn-primary btn-block" ng-click="register_user()" type="button">Rejestruj</button>
</form>
